.editLayout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
}

.editorHeader {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
}

.editor {
    padding: 40px 20px;
}

.editorContent {
    padding: 15px;
    min-height: 500px;
}

.isDraggingOver {
    background-color: #EAEAEA;
}