.widgetContainer {
    padding: 2rem;
}

.widgetList {
    list-style-type: none;
}

.widgetButton {
    font-size: 2rem;
    background: none;
    width: 100px;
    height: 100px;
    background-color: #ACACAC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.isDragging {
    opacity: 0.8;
    box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.2);
    transition: all 0.2s ease;
    text-align: center;
    vertical-align: middle;
}